body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
  }
  
  h3 {
    color: #000;
  }
  
  .ww {
    color: #000;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/Assests/carousel-1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
  }
  
  h1 {
    /* background-color: white; */
    display: flex;
    justify-content: center;
    color: #e31c25;;
    margin-left: 0;
    margin-right: 0;
  }
  
  .home-workouts {
    width: 95%;
    margin: 0 auto;
    margin-left: 40px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .workout-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .workout-card {
    position: relative;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: visible;
    box-sizing: border-box;
  }
  
  .workout-card:hover {
    transform: translateY(-10px);
  }
  
  .image-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
  }
  
  .workout-image {
    width: 100%;
    height: auto;
  }
  
  .workout-card h2 {
    margin-top: 60px;
    color: #333;
    text-align: center;
  }
  
  .workout-card p {
    color: #666;
    text-align: center;
  }
  
  .counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  
  .counter-set, .counter-reps {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .counter-set button, .counter-reps button {
    display: inline-block;
  }
  
  .counter-set button, .counter-reps button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .counter-set span, .counter-reps span {
    font-size: 18px;
    margin: 0 5px;
  }
  
  .counter-set {
    margin-right: 20px; 
  }
  
  .counter-reps {
    margin-left: 20px; 
  }
  
  .button {
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: white;
    color: #000;
  }